<%= form_for(@ordo) do |f| %>
  <% if @ordo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordo.errors.count, "error") %> prohibited this ordo from being saved:</h2>

      <ul>
      <% @ordo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :classification %><br />
    <%= f.text_field :classification %>
  </div>
  <div class="field">
    <%= f.label :orientation %><br />
    <%= f.text_field :orientation %>
  </div>
  <div class="field">
    <%= f.label :polity %><br />
    <%= f.text_field :polity %>
  </div>
  <div class="field">
    <%= f.label :governance %><br />
    <%= f.text_field :governance %>
  </div>
  <div class="field">
    <%= f.label :leader %><br />
    <%= f.text_field :leader %>
  </div>
  <div class="field">
    <%= f.label :associations %><br />
    <%= f.text_field :associations %>
  </div>
  <div class="field">
    <%= f.label :geographical_areas %><br />
    <%= f.text_field :geographical_areas %>
  </div>
  <div class="field">
    <%= f.label :headquarters %><br />
    <%= f.text_field :headquarters %>
  </div>
  <div class="field">
    <%= f.label :congregations %><br />
    <%= f.text_field :congregations %>
  </div>
  <div class="field">
    <%= f.label :members %><br />
    <%= f.text_field :members %>
  </div>
  <div class="field">
    <%= f.label :ministers %><br />
    <%= f.text_field :ministers %>
  </div>
  <div class="field">
    <%= f.label :official_website %><br />
    <%= f.text_field :official_website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
