<%= form_for(@ordo) do |f| %>
  <% if @ordo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordo.errors.count, "error") %> prohibited this ordo from being saved:</h2>

      <ul>
      <% @ordo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.code :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.code :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
