<h1>Listing ordos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Classification</th>
    <th>Orientation</th>
    <th>Polity</th>
    <th>Governance</th>
    <th>Leader</th>
    <th>Associations</th>
    <th>Geographical areas</th>
    <th>Headquarters</th>
    <th>Congregations</th>
    <th>Members</th>
    <th>Ministers</th>
    <th>Official website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ordos.each do |ordo| %>
  <tr>
    <td><%= ordo.name %></td>
    <td><%= ordo.description %></td>
    <td><%= ordo.classification %></td>
    <td><%= ordo.orientation %></td>
    <td><%= ordo.polity %></td>
    <td><%= ordo.governance %></td>
    <td><%= ordo.leader %></td>
    <td><%= ordo.associations %></td>
    <td><%= ordo.geographical_areas %></td>
    <td><%= ordo.headquarters %></td>
    <td><%= ordo.congregations %></td>
    <td><%= ordo.members %></td>
    <td><%= ordo.ministers %></td>
    <td><%= ordo.official_website %></td>
    <td><%= link_to 'Show', ordo %></td>
    <td><%= link_to 'Edit', edit_ordo_path(ordo) %></td>
    <td><%= link_to 'Destroy', ordo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ordo', new_ordo_path %>
