<h1>Listing ordos</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ordos.each do |ordo| %>
    <tr>
      <td><%= ordo.label %></td>
      <td><%= ordo.description %></td>
      <td><%= link_to 'Show', ordo %></td>
      <td><%= link_to 'Edit', edit_ordo_path(ordo) %></td>
      <td><%= link_to 'Destroy', ordo, method: :delete, data: { confirm: 'Are you sure?' } %>  </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Ordo', new_ordo_path %>
