<p id="notice"><%= notice %></p>

<p>
  <strong>code:</strong>
  <%= @ordo.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ordo.description %>
</p>


<%= link_to 'Edit', edit_ordo_path(@ordo) %> |
<%= link_to 'Back', ordos_path %>
