<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ordo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ordo.description %>
</p>

<p>
  <b>Classification:</b>
  <%= @ordo.classification %>
</p>

<p>
  <b>Orientation:</b>
  <%= @ordo.orientation %>
</p>

<p>
  <b>Polity:</b>
  <%= @ordo.polity %>
</p>

<p>
  <b>Governance:</b>
  <%= @ordo.governance %>
</p>

<p>
  <b>Leader:</b>
  <%= @ordo.leader %>
</p>

<p>
  <b>Associations:</b>
  <%= @ordo.associations %>
</p>

<p>
  <b>Geographical areas:</b>
  <%= @ordo.geographical_areas %>
</p>

<p>
  <b>Headquarters:</b>
  <%= @ordo.headquarters %>
</p>

<p>
  <b>Congregations:</b>
  <%= @ordo.congregations %>
</p>

<p>
  <b>Members:</b>
  <%= @ordo.members %>
</p>

<p>
  <b>Ministers:</b>
  <%= @ordo.ministers %>
</p>

<p>
  <b>Official website:</b>
  <%= @ordo.official_website %>
</p>


<%= link_to 'Edit', edit_ordo_path(@ordo) %> |
<%= link_to 'Back', ordos_path %>
