<%= form_for(@celebration) do |f| %>
  <% if @celebration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celebration.errors.count, "error") %> prohibited this celebration from being saved:</h2>

      <ul>
      <% @celebration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.code :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.code :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.code :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.code :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.code :season %><br />
    <%= f.text_field :season %>
  </div>
  <div class="field">
    <%= f.code :ordo %><br />
    <%= f.text_field :ordo %>
  </div>
  <div class="field">
    <%= f.code :kind %><br />
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.code :rule %><br />
    <%= f.text_field :rule %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
