<%= form_for(@celebration) do |f| %>
  <% if @celebration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celebration.errors.count, "error") %> prohibited this celebration from being saved:</h2>

      <ul>
      <% @celebration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :ordo %><br />
    <%= f.text_field :ordo %>
  </div>
  <div class="field">
    <%= f.label :common %><br />
    <%= f.text_field :common %>
  </div>
  <div class="field">
    <%= f.label :rule %><br />
    <%= f.text_field :rule %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
